body {
    font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: white
}
body::-webkit-scrollbar-thumb {
    background-color: #666
}

h1 {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
}

p {
    font-size: 25px;
    font-weight: 300;
}

section {
    padding: 100px 0;
    border-top: 1px solid #D8D8D8;
}

.c1 {
    background-color: #ECF0F1;
}

.alert {
    font-size: 20px;
    font-weight: 300;
}

.alert-danger {
    border: 3px solid #e74c3c;
}

.alert-success {
    border: 3px solid #27ae60;   
}

/* Intro                                   */
/*-----------------------------------------*/

.intropage {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.intropagesafari {
    height: auto;
    padding: 150px 0 150px 0;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introsafari {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
}

.me img {
    width: 100%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.desc h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0;
    margin-top: 10%;
    margin-left: 5%;
}

.desc p {
    font-family: 'Gentium Book Basic', serif;
    color: #999;
	font-size: 30px; 
    margin-top: 3%;
    margin-left: 5%;
}

.desc button {
    padding: 10px 20px;
    border: 3px solid #999;
    margin-top: 3%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 25px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    outline: 0;
    color: #999;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.desc button:hover {
    color: black;
    border-color: black;
}

.desc a {
    color: black;
}

/* About                                   */
/*-----------------------------------------*/

#about {
    text-align: justify;
}

/* Skillbars                               */
/*-----------------------------------------*/

#skills .skillbar {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
    background-color: #BDC3C7;
}

#skills .count-bar {
	height: 50px; 
	width: 0px;
    padding: 5px;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#skills .count-bar.color-1 {
	background-color: #1abc9c;
}

#skills .count-bar.color-2 {
	background-color: #40d47e;
}

#skills .count-bar.color-3 {
	background-color: #3498db;
}

#skills .count-bar.color-4 {
	background-color: #9b59b6;
}

#skills .count-bar.color-5 {
	background-color: #f1c40f;
}

#skills .count-bar.color-6 {
	background-color: #e67e22;
}

#skills .count-bar.color-7 {
	background-color: #e74c3c;
}

#skills .title {
    position: absolute;
    top: 5px;
    left: 12px;
    line-height: 40px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

#skills .count {
	position: absolute;
	top: 5px;
	right: 12px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 400;
}

/* Contact                                 */
/*-----------------------------------------*/

input {
    width: 105%;
    border: 3px solid #95a5a6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 22px;
    font-weight: 300;
    outline: 0;
}

input:focus {
    border-color: black;
}

textarea {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 221px;
    max-width: 100%;
    border: 3px solid #95a5a6;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 22px;
    font-weight: 300;
    outline: 0;
}

textarea:focus {
    border-color: black;
}

#submit {
    width: 200px;
    border: 3px solid #95a5a6;
    padding: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 22px;
    outline: 0;
    background-color: transparent;
    font-weight: 700;
    color: #95a5a6;
    float: right;
    margin-top: -5px;
    padding: 10px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#submit:hover {
    border-color: black;
    color: black;
}

/* Footer                                  */
/*-----------------------------------------*/

.footer {
    text-align: center;
}

.footer a {
    color: #333;
}

.socialicons {
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    margin: 0 5px;
}

.socialicons:hover {
    cursor: pointer;
}

.fb:hover {
    color: #47639e;
}

.tw:hover {
    color: #55acee;
}

.in:hover {
    color: #8e6051;
}

.go:hover {
    color: #d73d32;
}

.gi:hover {
    color: #480569;
}

/* Responsive                              */
/*-----------------------------------------*/

@media (max-width: 768px) {
    
    .desc h1 {
        font-size: 50px;    
    }
    
    input {
        width: 100%;    
    }
    
    .me img {
        width: 50%;
    }
    
    .intropage {
        height: auto;    
        padding: 40px 0 100px 0;
    }
    
    .intro {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
    
    .desc h1, .desc p, .desc button {
        margin-left: 0;
    }
    
    #about p {
        text-align: left;    
    }
    
}

@media (min-width: 768px) and (max-width: 992px) { 
    
    input {
        width: 100%;    
    }
    
    .me img {
        width: 50%;
    }
    
    .desc h1, .desc p, .desc button {
        margin-left: 0;
    }
    
}